@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Pacifico&family=Satisfy&display=swap');
body {
    font-size: 14pt;
}

/*
p {
    color: #333333;
}*/

h1 {
    font-family: 'Lora', serif;
    font-size: 40pt;
}

.headercontent {
    margin: 1em;
    height: 200px;
    overflow: hidden;
}

#backgroundheader {
    opacity: 0.8; 
    width: 100%;
    height: auto;
}
#headertext {
    position: absolute;
    margin-top: -45%;
}

.allergener { /*för class*/
    font-weight: bold;
 }
 
 #customerinformation { /*för id*/
    padding: 1em;
    background-color: #F5E6CC;
 }

 #menu {
    background-color: #FAF8F1;
 }

 section#menu {
    color: #333333;
    margin: 1em;
    padding: 1em;
    border: double;
    border-color: #556B2F;
    border-width: 10px;
 }

 section#customerinformation {
    color: #4E3629;
    margin: 1em;
    padding: 1em;
    border: double;
    border-color: #556B2F;
    border-width: 10px;
 }

 .wrapper {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 14em 14em 14em;
}
 .burgeritem {
    margin: 0.5em;
    padding: 0.5em;
    /*border-style: double;
    border-color: #556B2F;
    border-width: 10px;
    width: 12em;
    height: 20em;*/
 }

.sendbutton {
    margin-top: 1em;
 }
 button:hover {
    background-color: #556B2F; /* changes color when hover over */
    color: white;
 }